language: node_js

node_js:
    - "0.12"
    - "0.11"
    - "0.10"
    - "iojs"

before_script:
    - "npm install -g npm"
    - "npm install -g gulp"
    - "npm install -g mocha"
    - "gulp compile"
